.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Arial", sans-serif;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background-color: rgba(232, 184, 135, 0.566);
  backdrop-filter: blur(4px);
  box-shadow: var(--shadow);
  border-radius: 50%;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount{
    font-size: 1.6rem;
}



/* media query */
/* leptop */
@media (max-width: 992px) {    
    .simply-countdown > .simply-section {
        padding: 65px;
    }
}

/* tablet */
@media (max-width: 768px) {
    .simply-countdown > .simply-section {
        padding: 55px;
        margin: 5px;
    }

}
/* mobile phone */
@media (max-width: 576px) {
    .simply-countdown > .simply-section {
        padding: 40px ;
        margin: 3px;
    }
}
